<p ng-if="errorMessage.length">{{ errorMessage }}</p>

<div class="videoContainer" ng-if="!errorMessage.length">
	<div class="video videoWrapper">
		<iframe ng-src="{{ itemURL }}" frameborder="0" allowfullscreen></iframe>
	</div>
</div><!-- End Video Container -->

<ul class="sortBy">
	<li><a class="name" ng-click="sortField = '-snippet.title'; reverse = !reverse" href="">Sort by Name</a></li>
	<li><a class="date" ng-click="sortField = '-snippet.publishedAt'; reverse = !reverse" href="">Sort by Date</a></li>
</ul>

<input type="text" ng-model="search" placeholder="Search Videos">

<!-- Full Playlist Content -->
<!-- ng-if="item.items.length" hides this element if there are no items -->
<ul class="playlistItems">

	<!-- Single Playlist Item Content -->
	<li ng-repeat="item in initSort | filter:search | orderBy:sortField:reverse" class="clearfix">
		<!-- Pass video ID into the itemID function using ng-click -->
		<a href="#"  ng-click="itemID(item.snippet.resourceId.videoId, $event)" ng-class="{ active: item.snippet.resourceId.videoId === selected }" class="clearfix">
			<img class="thumbnail" ng-src="{{ ::item.snippet.thumbnails.medium.url }}" alt="{{ ::item.snippet.title }}">
			
			<div class="metadata">
				<h2>{{ ::item.snippet.title }}</h2>
				<p>{{ ::item.snippet.publishedAt | date: dd/MM/yyyy }}</p>
				<p>{{ ::item.snippet.description }}</p>
			</div>
		</a>
	</li>

</ul>